.background-gray {
    background-color: #e9edf0;
}

.content-row {
    margin: 2rem 0;
    position: relative;
}

.content-link {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.text-box {
    padding: 1rem;
}

.icon-box {
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
    background-color: #bd4145;
    margin-left: 0.5rem;
    margin-bottom: -20vw;
    position: relative;
    z-index: 100;
    display: flex; 
    padding: 1.25rem;
}


/* Proposal */
.static-proposal-card .proposal {
    border-color: #bd4145;
    padding: 2.535rem 1rem;
}
.static-proposal-card .proposal-image-container {
    margin-bottom: 0;
    background-color:  #bd4145;
}
.static-proposal-card .proposal-image-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: 'KohinoorDevanagari-Book';
    font-size: 1.15rem;
}
.proposal-card {
    width: 25%;
}
.proposal {
    text-align: center;
    border: 6px solid #e9edf0;
    padding: 1rem;
    margin: 5px;
}
.proposal .article-title {
    font-size: 1.5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.proposal-image {
    border-radius: 50%;
    width: 100%;
}
.proposal-image-container {
    background-color: #e9edf0;
    height: 0;
    padding-bottom: 100%;
    border-radius: 50%;
    margin-bottom: 1rem;
}

/* Proposal Filters */
.proposal-archive-row {
    margin-top: 5rem;
    position: relative;
}
.proposal-filter-container h2 {
    margin-top: 0;
}
.filter-group-container {
    margin-bottom: 2rem;
}
.filter-group.no-flex {
    display: block;
}
.slider-handle {
    background-color: #bd4145;
    border-radius: 50%;
}
.slider-handle:hover {
    background-color: #8d464a;

}
.slider-handle input {
    height: 1.4rem;
    background: transparent;
    border: none;
    box-shadow: none;
    display:inline;
    color: white;
    padding:0;
    font-size: 0.8rem;
    cursor: grab;
    text-align: center;
    position: absolute;
}

.slider-handle input::-webkit-outer-spin-button,
.slider-handle input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.slider-handle input[type=number] {
  -moz-appearance: textfield;
}

.hiddenCheckbox,
.label-title {
    display: none;
}
.hiddenCheckbox:checked + .termIcon,
.termIcon:hover {
    cursor: pointer;
    background: #8d464a;
}
.termIcon {
    background-color: #bd4145;
    border-radius: 50%;
    height: 1.75rem;
    width: 1.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.3rem;
    padding: 2px;
}
.termIcon img {
    height: auto;
    width: auto;
    max-height: 70%;
    max-width: 70%;
}
.filter-tooltip {
    border: none;
}

#proposal-filter-wrapper .selects-container {
    display: block;
}

.show-filters-button {
    font-size: 1rem;
}

/* Help Batch */
.helpBatch {
    display: flex;
    align-items: center;
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    margin-bottom: -2.5rem;
}
.helpBatch p {
    margin: 0;
}
.helpIcon {
    height: 3rem;
    width: 3rem;
    margin-right: 1rem;
}

/* Counddown on front page */
.democracy-day-countdown {
    border: 10px solid #bd4145;
    display: flex;
    justify-content: center;
    align-items: center;
}
.countdown-content {
    border-radius: 50%;
    background-color: #bd4145;
    height: 90%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
}
.countdown-number {
    font-family: 'KohinoorDevanagari-Book';
    font-size: 8rem;
    line-height: 1;
}
.countdown-text {
    font-size: 1.6rem;
    width: 50%;
    text-align: center;
}

/* responsive */
@media screen and (min-width: 40em) {
    .text-box, .image-box {
        float: left;
    }
    .text-box {
        width: 75%;
    }
    .image-box {
        width: 23%;
        border: 5px solid #e9edf0;
        padding: 1rem;
    }
    .image-box-left {
        margin-right: 2%;
    }
    .image-box-right {
        margin-left: 2%;
    }
}

/* mobile-only styles */
@media screen and (max-width: 39.9375em) {
    .text-box {
        padding-top: 25vw;
    }
    /* Proposal */
    .proposal-card {
        width: 100%;
    }
    .proposal {
        display: flex;
        align-items: center;
    }
    .proposal .article-title {
        flex: 2;
        text-align: left;
    }
    .proposal-image-container {
        padding-bottom: 6rem;
        margin-right: 1rem;
        margin-bottom: 0;
        width: 6rem;
    }

    /* Proposal Filters */
    .proposal-archive-row {
        margin-top: 2rem;
    }
    .filter-group-container[data-mobile-hidden] {
        display: none;
    }
    .filters {
        padding: 0;
    }
    .selects-container .filter-group {
        display: block;
    }
    .selects-container .filter-group label {
        line-height: 1;
    }
    .hiddenCheckbox,
    .label-title {
        display: inline;
    }
    .termIcon {
        display: none;
    }
}