@charset "UTF-8";
/*
	light grey: #e9edf0
	darker grey: #dee2e5
	light red:  #bd4145
	dark red:   #8d464a
*/

.posts-header {
	position: relative;
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-position: right bottom;
	background-color: #e9edf0;
	padding: 3.75rem 3rem 2.25rem;
	margin-top: 4rem;
}

.posts-title {
	font-weight: bold;
	font-size: 48px;
	margin-bottom: 0;
}

.posts-subtitle {
	margin-top: 0.5rem;
}

a .posts-header {
	color: black;
	transition: all 200ms ease-in-out;
}
a .posts-header:hover {
	background-size: auto 110%;
}

.posts-description h2 { margin: 0.5rem 0 1rem; }

.posts-description h2:last-child { margin-top: 4rem; }