@charset "UTF-8";
/*
	light grey: #e9edf0
	darker grey: #dee2e5
	light red:  #bd4145
	dark red:   #8d464a
*/

.posts-header-wrapper {
	margin: 20px 0;
	float: none;
}

.posts-header {
	position: relative;
	background-color: #e9edf0;
	padding: 3rem 1rem 0;
}

.posts-header:before {
	background-color: #e9edf07a;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
}

.posts-title {
	font-weight: bold;
	margin-bottom: 0;
	position: relative;
}

.posts-subtitle {
	font-size: 1.3rem;
	margin-top: 0.5rem;
	position: relative;
}

.posts-header-icon {
	transition: transform 200ms ease-in-out;
	transform-origin: bottom;
	transform: scale(0.9);
}

@media (min-width: 768px) {
	.posts-header {
		display: flex;
    	align-items: flex-end;
		padding: 0 3rem;
	}
	.posts-header:before {
		display: none;
	}
	.posts-header-text {
		padding-top: 3.75rem;
		padding-bottom: 2.25rem;
	}
	.home-content .posts-title {
		font-size: 48px;
	}
	.posts-subtitle {
		font-size: 1.6rem;
	}
}

a .posts-header {
	color: black;
	transition: all 200ms ease-in-out;
}
a .posts-header:hover .posts-header-icon {
	transform: scale(1);
}

.posts-description h2 { margin: 0.5rem 0 1rem; }

.posts-description h2:last-child { margin-top: 4rem; }