@charset "UTF-8";
/*
	light grey: #e9edf0
	darker grey: #dee2e5
	light red:  #bd4145
	dark red:   #8d464a
*/

/*********************
NAVIGATION STYLES
*********************/
.header .top-bar {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;  
	padding: 2rem;
	align-items: center; }
.top-bar, .top-bar ul { background-color: transparent; }
.menu li.active > a { background-color: transparent; }
.top-bar-left .title-bar { display: none; }
.main_logo {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;  
}
.filter-ul li { float: left; }

/*********************
SUBNAVIGATION
*********************/
.bottom-bar { background-color: #bd4145; }
.bottom-bar > ul {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;  
   -webkit-flex: 1;
   -ms-flex: 1;
   flex: 1;
   -ms-justify-content: center;
   -webkit-justify-content: center;
   justify-content: center; 
   text-align: center;
   -ms-flex-wrap: wrap;
   -webkit-flex-wrap: wrap;
   flex-wrap: wrap;
   position: relative;
   font-family: 'KohinoorDevanagari-Demi';
   z-index: 5;
}
.bottom-bar > ul li {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;  
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	-webkit-flex-direction: column;
	flex-direction: column;
	-ms-justify-content: center;
	-webkit-justify-content: center;
	justify-content: center;
	-ms-flex: 1;
	-webkit-flex: 1;
	flex: 1;
	align-items: center;
	-ms-transform: all 0.2s ease-in-out;
	-webkit-transform: all 0.2s ease-in-out;	
	transform: all 0.2s ease-in-out;
	position: static;
}
.bottom-bar > ul li a {
	line-height: 1.2;
	-ms-flex: 1;
	-webkit-flex: 1;
	flex: 1;
	width: 100%;    
	height: 100%;
	-ms-justify-content: center;
	-webkit-justify-content: center;
	justify-content: center;
	align-items: center;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;  
}
.bottom-bar > ul li {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;  
}
.bottom-bar > ul li:not(:last-child) {
    border-right: 1px solid white;
}
.bottom-bar .menu-item:hover { background-color: #8d464a; }
.bottom-bar .menu li.active { background-color: #8d464a; }
.bottom-bar .menu-item-has-children .submenu { background-color: #e9edf0; position: absolute; width: 100%; border: none; }
.bottom-bar .menu-item-has-children .submenu .menu-item { width: auto; float: left; padding: 1rem 0; border: none; }
.bottom-bar .menu-item-has-children .submenu .menu-item:hover,
.bottom-bar .menu-item-has-children .submenu .menu-item.active { background-color: #e9edf0; }
.bottom-bar .menu-item-has-children .submenu .menu-item:hover a,
.bottom-bar .menu-item-has-children .submenu .menu-item.active a { color: #8d464a; }
.bottom-bar .menu-item-has-children .submenu .menu-item a { padding: 0.1rem 0.8rem; color: grey; }
.bottom-bar .menu-item-has-children .submenu .menu-item:not(:last-child) a { border-right: 1px solid grey; }
.bottom-bar .current-menu-parent .submenu { display: block; }
.dropdown.menu.medium-horizontal > li.is-dropdown-submenu-parent > a:after { display: none; }


/*********************
META NAVIGATION
*********************/
.top-bar-right { margin-left: auto; }
.top-bar-right .menu .active > a  { color: #bd4145; }
.top-bar-right .menu > li.is-dropdown-submenu-parent > a:after { display: none; }
.top-bar-right .is-dropdown-submenu { background-color: white; border: none; box-shadow: 2px 2px 7px rgba(127, 127, 127, 0.5); z-index: 9999; padding: 10px 0; text-align: center; }
.top-bar-right .menu a { line-height: 1.3; padding: 0.5rem; }
.current-lang a { color: #bd4145; }
.top-bar-right .menu-item:nth-last-match(.lang-item) a { color: yellow; }

/*********************
ICON NAVIGATION
*********************/
.iconnav-section { margin-top: 4rem; }
.iconnav-title  { margin-bottom: 2.5rem; }
.icon-menu {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;   
	flex-wrap: wrap;
	justify-content: center;
}
.icon-menu .menu-item {
	background-color: white;
	-ms-flex: 1;
	-webkit-flex: 1;
	flex: 1;
	margin: 0 10px;
	box-shadow: 2px 2px 7px grey;
	transition: all 0.2s ease-in-out;
}
.icon-menu .menu-item:hover { transform: scale(1.05); }
.icon-menu .menu-item a {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;  
	flex-direction: column;
    height: 100%;
    justify-content: space-around;
	text-align: center;
	font-size: 14px;
	line-height: 1.4;
	color: #383838;
	padding-bottom: 1rem;
}
.iconnav-img {
	width: 7rem;
	align-self: center;
}

@media (max-width: 1200px) {
	.icon-menu .menu-item {
		flex-basis: 25%;
		margin: 10px;
	}
}