/* Single View of Proposal */
.p-no-margin {
    margin: 0;
}

.single-proposal {
    position: relative;
}

.proposal-header {
    display: flex;
    align-items: center;
    margin: 4rem 0 3rem;
    position: relative;
}
.proposal-details {
    background-color: #e9edf0;
    padding: 1rem;
    margin-bottom: 3rem;
}
.proposal-thumbnail {
    border-radius: 50%;
    padding-bottom: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

/* icon groups */
.proposal-icongroup {
    display: flex;
    align-items: center;
    width: 33%;
    margin: 0.75rem 0;
    overflow: hidden;
}

.proposal-icongroup:last-child {
    float: left !important;
}

.proposal-icon {
    display: inline-block;
    background-color: #bd4145;
    border-radius: 50%;
    min-height: 6rem;
    min-width: 6rem;
    padding: 0.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1.5rem;
}

.proposal-icon img {
    max-height: 4rem;
    max-width: 4rem;
}

.proposal-link {
    text-decoration: underline;
}

.single-proposal .reveal {
    line-height: 1.75;
}

/* footer */
.proposal-footer {
    padding-bottom: 2rem;
}
.proposal-author {
    margin-bottom: 3rem;
}
.proposal-author p {
    display: inline;
    vertical-align: middle;
    margin-right: 2rem;
}
.proposal-author img {
    max-height: 5rem;
    max-width: 100%;
}


@media (max-width: 920px) {
    .proposal-icongroup {
        width: 50%;
    }
}

/* max-width 640px, mobile-only styles, use when QAing mobile issues */
@media (max-width: 40em) {
    .proposal-header {
        display: block;
        text-align: center;
        margin-top: 3rem;
    }
    .proposal-thumbnail {
        margin: 0 auto 3rem;
    }
    .proposal-title {
        margin-bottom: 3rem;
    }
    .proposal-icongroup {
        width: 100%;
    }
    .proposal-icongroup p {
        flex-grow: 1;
    }
    .proposal-icongroup:nth-child(even) {
        flex-direction: row-reverse;
    }
    .proposal-icongroup:nth-child(even) p {
        text-align: right;
        flex-basis: 10%;
    }
    .proposal-icongroup:nth-child(even) .proposal-icon {
        margin: 0 0 0 1.5rem;
    }
    .proposal-icongroup .proposal-icon {
        height: 5rem;
        width: 5rem;
    }
    .proposal-icongroup .proposal-icon img {
        height: 3rem;
        width: 3rem;
    }
    .proposal-footer {
        text-align: center;
    }
    .proposal-author p {
        display: inline-block;
    }
}